@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
    box-sizing: border-box;
}
ul{
    padding: 0;
}
body {
    background: lightgray;
    font-family: 'Lobster', cursive;
    letter-spacing: 2.5px;
}
#root{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}
input{
    padding: 9px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    outline: none;
}
button{
    padding: 10px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Lobster', cursive;
    outline: none;
}
.todo{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 5px 10px;
    overflow: auto;
}
li{
    list-style-type: none;
}
input[type="checkbox"]{
    transform:scale(2);

}
.todo-aside{
    padding: 8px;
}
.completed{
    text-decoration: line-through;
    color:red;
}
.notCompleted{
    text-decoration: none;
    color: green;
}